/exclude
/MFoP
/MFoPUI
/build.sh
/buildUI.sh
MFoP.dSYM/Contents/Resources/DWARF/MFoP

MFoPUI.dSYM/Contents/Info.plist

MFoPUI.dSYM/Contents/Resources/DWARF/MFoPUI

MFoP.dSYM/Contents/Resources/DWARF/MFoP
